extends layout

block content
  form(method="post")
    div
      label(for="name") Name:
      input(type="text", name="name")
    div
      label(for="description") Description:
      textarea(name="description")
    div
      input(type="submit", value="Post")
